body {
    text-align: center;
    font-family: serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
      background-image: url("backgroound.jpg.jpg");
    

  }

  .heading{
    font-size: 50px;
  }
  .button{
    color: antiquewhite;
  }
  head {
    font-family: serif;
    font-size: 25px; /* sets font size to 18 pixels */
  }

  header {
    font-family: serif;
    color: aliceblue;
  }

  p {
      font-size: 15px;
  }

body {
    color: whitesmoke;
  }
