/*body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
        background-image: url("/Users/hishamabass/Downloads/website/media/background.jpg");
}*/
    
    
.bar {               
        display: block;
        margin-right: 0%;
        margin-left: 1;
        background-color:#B5B5B5;
        border-radius:200px;
        width: 100px;
        display: inline;
        position: sticky;
}

#anime {
    
        text-align: center;
        
        font-size: 50px;
        color: rgb(245, 203, 245);
        line-height: 0%;
}
    
#bar2 {
        display: block;
        margin-right: 50%;
        margin-left: auto;
        
        background-color:#B5B5B5;
        border-radius:200px;
        width: 150px;
}
    
    
#headmain {
        text-align: center;
        font-size: 125px;
        color : purple;
    }
   
    
#products{
        display: block;
        margin-right: 50%;
        margin-left: auto;
        background-color:#B5B5B5;
        border-radius:200px;
        width: 150px;
        display: inline;
}
    
#Naruto { 
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 1000;
        height: 1000;
}
    
#footer {
        text-align:center;
        color: antiquewhite;
    }

#contactmain {
    text-align: center;
    font-size: 50px;
    color: rgb(245, 203, 245);
    line-height: 0%;
}

body {
        text-align: center;
        font-family: serif;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-image: url("background.jpg");
        
    
}
    
.heading{
        font-size: 50px;
      }
      
.button{
        
        color: antiquewhite;
      }
      
head {
        font-family: serif;
        font-size: 25px; /* sets font size to 18 pixels */
}
    
header {
        font-family: serif;
        color: aliceblue;
}
    
p {
        font-size: 15px;
}
    
    body {
        color: whitesmoke;
      }
    
